.App {
  text-align: center;
}


#header {
  background-color: white;
  width: 100%;
}
.column {
  float: left;
}
.left, .right {
  width: 49%;
}
.right {
  text-align: right;
}
.padding {
  width: 2%
}

h1 {
  width: 100%;
  display: inline;
  font-size: 44px;
  }

.topnav {
  z-index: 9;
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: black;
  color:white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.App-link {
  color: #61dafb;
}



#fine-print {
  font-size: 8pt;
  color: gray;
}

#warnMessage {
  color: red;
  font-weight: bold;
}


.link {
  float: left;
  padding-left: 5%;
  list-style-type: none;
  background-color: white;
}

.link > a {
  text-decoration: none;
  font-size: 14pt;
  color: black;
}

.link > a:hover {
  text-decoration: underline;
  color: blue;
}

.link:clicked {
  color: red;
}

.button-right {
  text-align: right;
}

#login{
  text-align: right;
  margin: 0 auto 0;
  padding: 100px;
  width: 260px;
  vertical-align: top;
}

#register-form{
  text-align: right;
  margin: 0 auto 0;
  padding: 100px;
  width: 300px;
  vertical-align: top;
}

.recipe-builder-form{
  text-align: right;
  margin: 0 780px auto auto;
  padding: 100px;
  width: 425px;
  vertical-align: top;
}

textarea {
  width: 252px;
  height: 50px;
}