.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  
}

#fine-print {
  font-size: 8pt;
  color: gray;
}

#warnMessage {
  color: red;
  font-weight: bold;
}

#login {
  margin-top: 100px;
}

nav {
  background-position: center;
  color: black;
}

#header {
  align-content: center;
  margin-bottom: 20px;
  background-color: white;
}

#home {
  margin-top: 90px;
  background-color: white;
  width: 30%;
  margin-left: 35%;
}

.link {
  float: left;
  padding-left: 5%;
  list-style-type: none;
  background-color: white;
}

.link > a {
  text-decoration: none;
  font-size: 14pt;
  color: black;
}

.link > a:hover {
  text-decoration: underline;
  color: blue;
}

.link:clicked {
  color: red;
}

#login{
  padding-top: 200px;
  align-items: center;
}

#register-form{
  padding-top: 200px;
  align-items: center;
}